@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@font-face {
    font-family: 'Granotta';
    src: url('../assets/fonts/Granotta.ttf');
}

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

:root {
    --board-rotate-time: 1000ms;
}

html,
body {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    margin: 0;
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
    background-size: cover;
    background: linear-gradient(135deg, var(--bg-gradient-start) 0%, var(--bg-gradient-end) 100%) no-repeat 50% 50%;
    color: var(--text-color);
    padding-right: 0 !important; /* Because of Bootstrap Modals */

    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
    scrollbar-width: thin;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-color-hover);
    text-decoration: underline;
}

.modal-content {
    background-color: var(--even);
}

.modal-content .btn-close {
    background-color: brown;
}

.modal-header,
.modal-footer {
    border-color: var(--odd);
}

.custom-select {
    background: var(--custom-select-bg) no-repeat right .75rem center/8px 10px;
    background-color: var(--input-background-color);
    color: var(--text-color);
    border-color: var(--input-border-color);
}

.custom-control-label::before {
    background-color: var(--input-background-color);
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border: none;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover);
}

::-webkit-scrollbar-thumb:active {
    background-color: var(--scrollbar-thumb-active);
}

::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track);
    border: none;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

.table {
    color: unset;
}

.menu {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
    margin: 0;
    left: 0;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(1px);
}

.hidden {
    display: none;
}

.visible {
    display: unset;
}

#app {
    width: 100%;
    min-width: 400px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blur-background {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
    margin: 0;
    left: 0;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    cursor: unset;
    backdrop-filter: blur(1px);
    text-align: center;
}

.timer-bar {
    --timer: 100%;
    width: var(--timer);
    height: 1rem;
    background-color: var(--body-color);
    position: fixed;
    top: 0;
    left: 0;
    transition: width 200ms ease-out;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.stats-modal {
    display: grid;
    grid-gap: 24px;
}

.stats-modal .right,
.stats-modal .words-right {
    color: var(--text-color-right);
}

.stats-modal .wrong,
.stats-modal .words-wrong {
    color: var(--text-color-wrong);
}

.stats {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 16px;
    justify-content: center;
    font-size: 1.5rem;
    overflow: hidden;
    transition: max-height 100ms ease-out;
}

.stats div {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 24px;
    justify-content: center;
}

.stats .main-stats {
    font-size: 2rem;
}

.stats span {
    position: relative;
}

.stats div > span:not(:first-child)::before {
    color: var(--text-color-inactive);
    content: '|';
    position: absolute;
    top: 0;
    left: -1rem;
}

.stats .timer {
    color: var(--text-color-hover);
}

.stats .right,
.stats .words-right {
    color: var(--text-color-right);
}

.stats .wrong,
.stats .words-wrong {
    color: var(--text-color-wrong);
}

.typing-text {
    font-size: 4rem;
    display: flex;
    column-gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
    max-height: 220px;
    overflow: hidden;
}

.typing-text span {
    color: var(--text-color-inactive);
    /*animation: typing 1s steps(1, end) infinite;*/
}

.typing-text span.current,
.typing-text span.current span {
    color: var(--text-color);
}

.typing-text span.right,
.typing-text span.right span {
    color: var(--text-color-right-faded);
}

.typing-text span.wrong,
.typing-text span.wrong span {
    color: var(--text-color-wrong-faded);
}

.typing-text span.current .current {
    color: var(--link-color);
    position: relative;
}

.typing-text span.current .current::before {
    content: '|';
    font-weight: 100;
    font-family: sans-serif;
    color: var(--text-caret);
    position: absolute;
    left: -6px;
    top: -16px;
    animation: input-blink 1s steps(1, end) infinite;
}

@keyframes input-blink {
    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.typing-text span.current .right {
    color: var(--text-color-right);
}

.typing-text span.current .wrong {
    color: var(--text-color-wrong);
}

.input-wrapper {
    display: flex;
    justify-content: center;
}

#wpm_input {
    background-color: var(--input-background-color);
    border-color: var(--input-border-color);
    color: var(--text-color);
    width: 24rem;
}

#wpm_input:hover {
    border-color: var(--input-border-color-hover);
}

#wpm_input:focus {
    border-color: var(--input-border-color-focus);
}

.keyboard {
    --gap: 8px;
    display: grid;
    grid-auto-flow: row;
    grid-gap: var(--gap);
    justify-content: center;
    overflow: hidden;
    max-height: 0;
    transition: max-height 100ms ease-in-out;
}

.input-wrapper:focus-within ~ .keyboard {
    max-height: 300px;
}

.keyboard .row {
    position: relative;
    display: grid;
    grid-auto-flow: column;
    grid-gap: var(--gap);
    justify-content: start;
}
/*
.keyboard .row:nth-child(2) {
    padding-left: 0.75rem;
}

.keyboard .row:nth-child(3) {
    padding-left: 1.5rem;
}

.keyboard .row:nth-child(4) {
    padding-left: 5.5rem;
}*/

.keyboard .key {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 2rem;
    height: 2rem;
    border-radius: 4px;
    background-color: var(--input-background-color-disabled);
    border-color: var(--input-border-color);
    color: var(--text-color);
    font-size: 0.95rem;
    padding: 4px;
    user-select: none;
    transition: background-color 100ms ease-out;
}

.keyboard .key::before {
    background-color: var(--input-background-color-disabled);
    transition: background-color 100ms ease-out;
}

.keyboard .key.indicator {
    text-decoration: underline;
    text-underline-position: under;
}

.keyboard .key.symbol {
    font-family: monospace;
    font-size: 0.75rem;
}

.keyboard .key.space {
    width: calc(6 * 2rem + 6 * var(--gap));
}

.keyboard .key.tab {
    width: 2.8rem;
    font-size: 0.75rem;
}

.keyboard .key.capslock {
    width: 3.5rem;
    font-size: 0.75rem;
}

.keyboard .key.shift {
    width: 2.60rem;
    font-size: 0.75rem;
}

.keyboard .key.shiftright {
    width: 3.6rem;
    font-size: 0.75rem;
}

.keyboard .key.modifier {
    width: 2.60rem;
    font-size: 0.75rem;
}

.keyboard .key.backspace {
    width: 4.25rem;
    font-size: 0.75rem;
}

.keyboard .key.enter::before {
    width: 24px;
    height: 2rem;
    content: ' ';
    position: absolute;
    top: 0;
    left: -12px;
    border-radius: 4px;
}

.keyboard .key.enter {
    width: 2.75rem;
    height: calc(4rem + var(--gap));
    font-size: 0.75rem;
    position: absolute;
    right: 0;
}

.keyboard .key.valid,
.keyboard .key.valid::before {
    background-color: var(--input-background-color);
}

.keyboard .key.active,
.keyboard .key.active::before {
    background-color: var(--btn-background-color-hover);
    border-color: var(--btn-background-color-hover);
    color: var(--btn-text-color);
}

.keyboard .key .normal {
    display: inline;
}

.keyboard .key .shift {
    display: none;
}

.keyboard.shift .key .normal {
    display: none;
}

.keyboard.shift .key .shift {
    display: inline;
}

.keyboard.caps .key.letter .normal {
    display: none;
}

.keyboard.caps .key.letter .shift {
    display: inline;
}

.keyboard.caps.shift .key.letter .normal {
    display: inline;
}

.keyboard.caps.shift .key.letter .shift {
    display: none;
}
